Pipeline/PL_GoogleFlightsPipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_SearchAPI_GoogleFlights":{"type":"string"},"LS_ADLS_Gen2":{"type":"string"},"LS_AzureSQLDB":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_GoogleFlightsPipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy_GoogleFlights_To_ADLS","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"supportRFC5988":"true"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"DS_GoogleFlights_REST","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"DS_FlightRaw_JSON","type":"DatasetReference","parameters":{}}]},{"name":"Data flow1","type":"ExecuteDataFlow","dependsOn":[{"activity":"Copy_GoogleFlights_To_ADLS","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"DF_GoogleFlights_Transform","type":"DataFlowReference","parameters":{},"datasetParameters":{"source1":{},"sink1":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"Fail_Copy","type":"Fail","dependsOn":[{"activity":"Copy_GoogleFlights_To_ADLS","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"Copy Activity failed while retrieving Google Flights data from SearchAPI.","errorCode":"CP001"}},{"name":"Fail_DataFlow","type":"Fail","dependsOn":[{"activity":"Data flow1","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"Google Flights Data Flow transformation failed. Check the Monitor logs for details.","errorCode":"DF001"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_GoogleFlights_REST')]","[concat(variables('factoryId'), '/datasets/DS_FlightRaw_JSON')]","[concat(variables('factoryId'), '/dataflows/DF_GoogleFlights_Transform')]"]},{"name":"[concat(parameters('factoryName'), '/DS_GoogleFlights_REST')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SearchAPI_GoogleFlights')]","type":"LinkedServiceReference"},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat(\n'api/v1/search?engine=google_flights',\n'&departure_id=COK',\n'&arrival_id=DXB',\n'&outbound_date=2026-08-10',\n'&return_date=2026-08-20',\n'&currency=INR',\n'&hl=en',\n'&api_key=BrNBVw1JGzeAYfDXmW2toJpj'\n)","type":"Expression"}},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_FlightRaw_JSON')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLS_Gen2')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"google_flights.json","fileSystem":"raw"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DF_GoogleFlights_Transform')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"DS_FlightRaw_JSON","type":"DatasetReference"},"name":"source1"}],"sinks":[{"dataset":{"referenceName":"DS_SQL_FlightResults","type":"DatasetReference"},"name":"sink1"}],"transformations":[{"name":"flatten"},{"name":"derivedColumn1"},{"name":"flatten1"},{"name":"derivedColumn2"},{"name":"select1"}],"scriptLines":["source(output(","          airlines as (airlines as (code as string, name as string)[], alliances as (code as string, name as string)[], hubs as (code as string, name as string)[]),","          airports as (arrival as (airport as (id as string, name as string), city as string, country as string, country_code as string, image as string, thumbnail as string)[], departure as (airport as (id as string, name as string), city as string, country as string, country_code as string, image as string, thumbnail as string)[])[],","          baggage_allowance_links as (airline as string, airline_code as string, url as string)[],","          best_flights as (airline_logo as string, carbon_emissions as (difference_percent as short, lowest_route as integer, this_flight as integer, typical_for_this_route as integer), departure_token as string, extensions as string[], flights as (airline as string, airline_logo as string, airplane as string, arrival_airport as (date as date, id as string, name as string, time as string), departure_airport as (date as date, id as string, name as string, time as string), detected_extensions as (carbon_emission as short, has_in_seat_usb_outlet as boolean, has_on_demand_video as boolean, legroom_long as string, legroom_short as string, seat_type as string), duration as short, extensions as string[], flight_number as string, is_overnight as boolean, ticket_also_sold_by as string[], travel_class as string)[], price as integer, total_duration as short, type as string)[],","          other_flights as (airline_logo as string, carbon_emissions as (difference_percent as short, lowest_route as integer, this_flight as integer, typical_for_this_route as integer), departure_token as string, extensions as string[], flights as (airline as string, airline_logo as string, airplane as string, arrival_airport as (date as date, id as string, name as string, time as string), departure_airport as (date as date, id as string, name as string, time as string), detected_extensions as (carbon_emission as short, has_in_seat_usb_outlet as boolean, has_on_demand_video as boolean, has_power_and_usb_outlets as boolean, has_stream_video_to_own_device as boolean, legroom_long as string, legroom_short as string, seat_type as string, wifi as string), duration as short, extensions as string[], flight_number as string, is_overnight as boolean, travel_class as string)[], layovers as (duration as short, id as string, is_overnight as boolean, name as string)[], price as integer, total_duration as short, type as string)[],","          passenger_assistance_links as (airline as string, airline_code as string, url as string)[],","          price_insights as (lowest_price as integer, price_history as (iso_date as timestamp, price as integer)[], price_level as string, typical_price_range as (high_price as integer, low_price as short)),","          search_metadata as (created_at as timestamp, html_url as string, id as string, json_url as string, parsing_time_taken as double, request_time_taken as double, request_url as string, status as string, total_time_taken as double),","          search_parameters as (adults as boolean, arrival_id as string, children as boolean, currency as string, departure_id as string, engine as string, flight_type as string, gl as string, hl as string, infants_in_seat as boolean, infants_on_lap as boolean, outbound_date as date, return_date as date, stops as string, travel_class as string)","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     inferDriftedColumnTypes: true,","     ignoreNoFilesFound: false,","     documentForm: 'documentPerLine') ~> source1","source1 foldDown(unroll(best_flights),","     mapColumn(","          airline_logo = best_flights.airline_logo,","          carbon_emissions = best_flights.carbon_emissions,","          departure_token = best_flights.departure_token,","          extensions = best_flights.extensions,","          flights = best_flights.flights,","          price = best_flights.price,","          total_duration = best_flights.total_duration,","          type = best_flights.type","     ),","     skipDuplicateMapInputs: false,","     skipDuplicateMapOutputs: false) ~> flatten","flatten derive(FlightPrice = price,","          TotalDuration = total_duration,","          FlightType = type) ~> derivedColumn1","derivedColumn1 foldDown(unroll(flights),","     mapColumn(","          airline = flights.airline,","          airline_logo = flights.airline_logo,","          airplane = flights.airplane,","          arrival_airport = flights.arrival_airport,","          departure_airport = flights.departure_airport,","          detected_extensions = flights.detected_extensions,","          duration = flights.duration,","          extensions = flights.extensions,","          flight_number = flights.flight_number,","          is_overnight = flights.is_overnight,","          ticket_also_sold_by = flights.ticket_also_sold_by,","          travel_class = flights.travel_class","     ),","     skipDuplicateMapInputs: false,","     skipDuplicateMapOutputs: false) ~> flatten1","flatten1 derive(DepartureAirport = departure_airport.name,","          DepartureTime = departure_airport.time,","          ArrivalAirport = arrival_airport.name,","          ArrivalTime = arrival_airport.time,","          SearchDate = currentUTC()) ~> derivedColumn2","derivedColumn2 select(mapColumn(","          airline,","          airline_logo,","          airplane,","          duration,","          extensions,","          flight_number,","          is_overnight,","          ticket_also_sold_by,","          travel_class,","          DepartureAirport,","          DepartureTime,","          ArrivalAirport,","          ArrivalTime,","          SearchDate","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> select1","select1 sink(allowSchemaDrift: false,","     validateSchema: true,","     input(","          FlightID as integer,","          Airline as string,","          FlightNumber as string,","          DepartureAirport as string,","          ArrivalAirport as string,","          DepartureTime as timestamp,","          ArrivalTime as timestamp,","          Duration as string,","          Stops as integer,","          Price as decimal(10,2),","          Currency as string,","          SearchDate as timestamp","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError',","     mapColumn(","          Airline = airline,","          FlightNumber = flight_number,","          DepartureAirport,","          ArrivalAirport,","          DepartureTime,","          ArrivalTime,","          Duration = duration,","          SearchDate","     )) ~> sink1"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_FlightRaw_JSON')]","[concat(variables('factoryId'), '/datasets/DS_SQL_FlightResults')]"]},{"name":"[concat(parameters('factoryName'), '/DS_SQL_FlightResults')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_AzureSQLDB')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"FlightID","type":"int","precision":10},{"name":"Airline","type":"nvarchar"},{"name":"FlightNumber","type":"nvarchar"},{"name":"DepartureAirport","type":"nvarchar"},{"name":"ArrivalAirport","type":"nvarchar"},{"name":"DepartureTime","type":"datetime","precision":23,"scale":3},{"name":"ArrivalTime","type":"datetime","precision":23,"scale":3},{"name":"Duration","type":"nvarchar"},{"name":"Stops","type":"int","precision":10},{"name":"Price","type":"decimal","precision":10,"scale":2},{"name":"Currency","type":"nvarchar"},{"name":"SearchDate","type":"datetime","precision":23,"scale":3}],"typeProperties":{"schema":"dbo","table":"FlightSearchResults"}},"dependsOn":[]}]}